h1{
    text-align: center;
    color: #ff0000;
}

#MainNav {
    text-align: center;
    list-style: none;
}

#MainNav li {

    display:inline-flex;
    padding: .5rem;
    margin-left: 1rem;
    color:rgb(255, 255, 255);
    background-color: black;
    border-radius: .375rem;
}

#MainNav li:hover {

    background-color: rgb(255, 0, 0);
    transition: 1s;
}


nav li:hover {
    background-color: rgb(255, 0, 0);
    transition: 1s;
}

#History{
    max-width: 35rem;
    margin: auto;
    padding: 1.5rem;
    background-color: black;
    color: #ffffff;
    border-radius: .375rem;
}

#TOCH{
    text-align: center;
    color: rgb(255, 0, 0);
}

#TOC{

    position:fixed;
    top:6.5rem;
    right:2rem;
    width:14rem;
    text-decoration: none;

}



#TOC li {

    display:block;
    padding: .5rem;
    margin-top: .1rem;
    color:rgb(255, 255, 255);
    border-radius: .375rem;
    text-align: center;
    text-decoration: none;
    background-color: black;
}

#TOC li:hover {

    background-color: #ff0000;
    transition: 1s;
}

#TOC ul{
    list-style: none;
    text-decoration: none;
}

body{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    outline: none;
}
a:focus {
    outline: none;
}

.accordion {
    margin: 3.75rem auto;
    align-self: auto;
    width: 40rem;
    position: relative;
    left: 8rem;
    text-align: center;



}

.accordion li {
    list-style: none;
    max-width: 20rem;
    margin: 1.25rem;
    padding: .625rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: .375rem;
}

.accordion li label {
    display: flex;
    align-items: center;
    cursor:pointer;
}

label::before{
    content:"+";
    margin-right: .625rem;
    font-size: 1.5rem;
    font-weight: 600;
}

input[type="checkbox"]{
    display: none;
}

.accordion .content{
    color: black;
    max-height: 0;
    overflow: auto;
    transition: max-height .5s padding .5s;

}


.accordion input[type="checkbox"]:checked + label + .content{
    padding: .625rem .625rem 1.25rem;
    max-height: 12.5rem;
}

.accordion input[type="checkbox"]:checked + label::before{
    content: '-';
}

.fighterlist li{
    text-align: center;
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}

.gridlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5em 1rem;
    padding-left: 0;
    list-style: none;
    text-align: left;
}

#IM, #VS {
    position: fixed;
    bottom: 0;
    max-height: 100vh;
    width: auto;
}

.SideBanner {

    position: fixed;
    top: 0;
    max-height: 100vh;
    width: auto;
}


.SideBanner {
    left: 0;
    margin-left: 1rem;
}

#IM {

    left: 0;
    margin-left: 1rem;
}

#VS {
    right: 0;
}

#IM img, #VS img {

    height: 80vh;
    width: auto;
    object-fit: contain;
    display: block;
}

.SideBanner img {

    height: 100vh;
    width: auto;
    object-fit: contain;
    display: block;
    top: 0;

}

section {

    padding: 2rem;
}

.histpic {

    text-align: center;
}

#mainimg {

    text-align: center;
}

#breaking {
    text-align:center;

}


#breakinglist {

    list-style: none;
    padding: 0;
    margin: 0 auto;     
    display: inline-block;
}

#breakinglist li {

    margin-top: .1rem;
}

#breakinglist a {

    display: block;
    padding: .5rem .75rem;
    border-radius: .375rem;
    text-decoration: none;
    color: #ffffff;
    background-color: black;

}

#breakinglist a:hover {
    background: #ff0000;
}

.ppvaccord {
    position: absolute;
    top: 8rem;
    right: 1rem;
    width: 15rem;
    padding: 1rem;
    margin-right: 1rem;
}

.ppvaccord > li {
    list-style: none;
    width: 100%;
    margin: 1.25rem;
    padding: .625rem;
    border-radius: .375rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    text-align: center;
}


.ppvaccord li label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ppvaccord label::before {
    content: "+";
    margin-right: .625rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.ppvaccord input[type="checkbox"] {
    display: none;
}

.ppvaccord .content {
    color: black;
    max-height: 0;
    overflow: auto;
    transition: max-height .5s, padding .5s;
}

.ppvaccord input[type="checkbox"]:checked + label + .content {
    padding: .625rem .625rem 1.25rem;
    max-height: 12.5rem;
}

.ppvaccord input[type="checkbox"]:checked + label::before {
    content: "-";
}

.ppvlist li {

    list-style:none;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

#bnh {

    color: #ff0000;
    text-align: center;
}

#ppvh {

    color: #ff0000;
    text-align: center;
}

#btt li {

    text-decoration: none; 
    display:inline-flex;
    padding: .5rem;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: .375rem;
}

#btt li:hover{

    background-color: #ff0000;
    transition: 1s;

}

#btt {

    text-align: center;
}

#smlogo {

    position: absolute;
    top: 10;
    left: 2;
}

#rlogo {

    position: absolute;
    top: 10;
    left: 2;
}

@media (max-width: 767px) {
    #TOC, #mainimg, .SideBanner, #VS, #IM {
        display: none;
    }

    .ppvaccord {
        position: static;
        width: 100%;
        margin: 1rem auto;
        right: auto;
    }

    .accordion {
        width: 100%;
        left: 0;
        margin: 1rem auto;
    }

    .histpic {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .histpic img {
        display: inline-block;
        max-width: 100%;
        height: auto;
    }
}


@media (min-width: 768px) and (max-width: 1199px) {
    
    #breaking {

        max-width: 80%;
        text-align: center;
    }
    
    #mainimg, .SideBanner, #VS, #IM {
        display: none;
    }

    .ppvaccord {
        position: absolute;
        top: 8rem;
        right: 1rem;
        width: 10rem;
        padding: 1rem;
        margin-right: 1rem;
    }

    .accordion {

        position: relative;
        width: 100%;
        margin: 2rem auto;
        text-align: center;
    }

    .histpic {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .histpic img {
        display: inline-block;
        max-width: 100%;
        height: auto;
    }

    #History {

        max-width: 20rem;
    }

    #TOC {

        max-width: 12rem;
    }

    #btt {

        display: none;
    }
}

@media (min-width: 1200px) {

    #smlogo {

        display: none;
    }
}

@media print {

    body {

        color: black;
    }

    nav {

        display: none;
    }

    img {

        filter: grayscale();
    }
}